
body {
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("ba-img/W-Foggy.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  background-color: black;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

*::-webkit-scrollbar {
  width: 16px;
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: ghostwhite;
}


.container {
    color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: visible !important;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#footer {
  transition: margin-left .5s;
  padding: 16px;
}

p {
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
}

blockquote {
    margin-left: 5%;
    font-size: 0.9rem;
    text-align: justify;
    hyphens: auto;
}

.highlight{ 
  background: #006fcd; 
  padding:1px; 
  border:whitesmoke solid 1px; 
}

.main-content {
    padding-right: 150px; 
    padding-left: 150px;
}

.menu-margin {
  margin-left: 20px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 29px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  text-align: right;
}

button:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
  float:inline-end;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  font-size: 20px;
  color: white;
  min-width: 16px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: rgb(36, 36, 36);}

.show {display: block;}


@media only screen and (max-width: 600px) {
  .menu-margin {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .dropbtn {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .main-content {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 0.9rem;
  }
}

.footer {
    font-size: 0.8rem;
    text-align: justify;
    hyphens: auto;
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
    hyphens: auto;
    font-size: 0.8rem;
  }
}

.scroll-bar-wrapper {
  width: 100%;
  height:12px;
  position:fixed;
  top:0;
  left:0;
  background:white;
  
}

.scroll-bar { 
  width:0;
  height: inherit;
  background: linear-gradient(to right, #006fcd, orangered);
}

.abbildung1 {
  display: flex;
  text-align: left;
}

.abbildung1 p {
  text-align: justify;
}


.abbildung2 p {
  text-align: justify;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1250;
  color: white;
  text-align: center;
  line-height: 90vh;
  }

  .splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
  }

  @keyframes fadeIn{
      to{
          opacity: 1;
      }
  }

  .fade-in {
      opacity: 0;
      animation: fadeIn 0.5s ease-in forwards;
  }


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

