body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("Img/Black\ Gaming\ Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color: black;
    height: 100%;
    margin: 0;
}

@media screen and (min-width: 1600px) {
    body {
        zoom: 1.1;
    }
}

.login {
    background-color: black;
    color: #f1c40f;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 85px;
    height: 85px;
    border: solid #f1c40f;
    border-radius: 50%;
}

.login:hover {
    background-color: #f1c40f;
    color: black;
    border: solid black;
}

.register {
    background-color:#f1c40f;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 85px;
    height: 85px;
    border: solid black;
    border-radius: 50%;
}

.register:hover {
    background-color: black;
    color: #f1c40f;
    border: solid #f1c40f;
}

@font-face{
    font-family: Evil-Empire;
    src: url("Fonts/EvilEmpire-4BBVK.ttf") format('truetype');
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Evil-Empire';
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button-center {
    display: inline-block;
    text-align: center;
}

.modal-content {
    background-color: black;
    color: #f1c40f;
}

@media only screen and (max-width: 600px) {
    .button-center {
        display: block;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .button-center {
        display: block;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    h2 {
        font-size: 24px;
    }
    .login {
        width: 120px;
        height: 50px;
        margin-left: 20px;
    }
    .register {
        width: 120px;
        height: 50px;
        margin-left: 20px;
    }

}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2000;
    color: white;
    text-align: center;
    line-height: 90vh;
    }
  
    .splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
    }
  
    @keyframes fadeIn{
        to{
            opacity: 1;
        }
    }
  
    .fade-in {
        opacity: 0;
        animation: fadeIn 0.5s ease-in forwards;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: white black;
      }
      
      *::-webkit-scrollbar {
        background: black;
        width: 8px;
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: white;
      }

    .scene {
        perspective: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
   }

    .scene:hover .side {
        opacity: 1;
   }
    .cube {
        transform-style: preserve-3d;
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #121212;
        animation: rotate 10s ease-in-out infinite;
        transform-origin: center center;
        border-radius: 12px !important;
   }
    .side {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #121212;
        opacity: 0.9;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 12px !important;
   }
    .back {
        transform: translateZ(-100px) rotateX(180deg);
        background-image: url('/Logo/Logo_transparent.png');
   }
    .left {
        transform: translateX(-100px) rotateY(90deg);
        background-image: url('/Logo/Logo_transparent.png');
   }
    .right {
        transform: translateX(100px) rotateY(90deg);
        background-image: url('/Logo/Logo_transparent.png');
   }
    .top {
        transform: translateY(-100px) rotateX(90deg);
        background-image: url('/Logo/Logo_transparent.png');
   }
    .bottom {
        transform: translateY(100px) rotateX(270deg);
        background-image: url('/Logo/Logo_transparent.png');
   }
    .front {
        transform: translateZ(100px);
        background-image: url('/Logo/Logo_transparent.png');
   }
    @keyframes rotate {
        0% {
            transform: rotateX(0);
       }
        12.5% {
            transform: rotateY(90deg);
       }
        25% {
            transform: rotateY(270deg);
       }
        37.5% {
            transform: rotateY(270deg);
       }
        50% {
            transform: rotateY(360deg);
       }
        62.5% {
            transform: rotateX(90deg);
       }
        75% {
            transform: rotateX(180deg);
       }
        87.5% {
            transform: rotateX(270deg);
       }
        100% {
            transform: rotateX(360deg);
       }
   }