body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("Img/Black\ Gaming\ Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color: black;
    height: 100%;
    margin: 0;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  body {
      zoom: 0.8;
  }
}

@font-face{
    font-family: Evil-Empire;
    src: url("Fonts/EvilEmpire-4BBVK.ttf") format('truetype');
}

h1 {
    color: white;
    font-family: 'Evil-Empire';
    font-size: 28px;
    display: flex;
    text-align: center;

}

.logout {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:red;
    display: block;
    background-color: transparent;
    border: black;
  }

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1c40f;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

*::-webkit-scrollbar {
  background: black;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-color: black;
  z-index: 2000;
  color: white;
  text-align: center;
  line-height: 90vh;
  }

  .splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
  }

  @keyframes fadeIn{
      to{
          opacity: 1;
      }
  }

  .fade-in {
      opacity: 0;
      animation: fadeIn 0.5s ease-in forwards;
  }

  img {
    object-fit: contain;
  }