body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("/Img/Black\ Gaming\ Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color: black;
    height: 100%;
    margin: 0;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  body {
      zoom: 0.8;
  }
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: left;
    font-size: 11px;
}

@font-face{
    font-family: Evil-Empire;
    src: url("/Fonts/EvilEmpire-4BBVK.ttf") format('truetype');
}

h1 {
    color: white;
    font-family: 'Evil-Empire';
    font-size: 36px;
    display: inline;

}

h2 {
  color: red;
  text-align: center;
  font-family: 'Evil-Empire';
}

h3 {
  color: white; 
  font-family: 'Evil-Empire';
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 56px;
}

.detailButton {
  background-color: black;
  color: #f1c40f;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border: solid #f1c40f;
  border-radius: 50%;
}

.detailButton:hover {
  background-color: #f1c40f;
  color: black;
  border: solid black;
}


.add {
    background-color:#f1c40f;
    font-family: 'Evil-Empire';
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border: solid black;
    border-radius: 50%;
}

.add:hover {
    background-color: black;
    color: #f1c40f;
    border: solid #f1c40f;
}

.delete {
  background-color: black;
  font-family: 'Evil-Empire';
  color: darkred;
  font-size: 28px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border: solid black;
}

.metac {
  color: black;
  background-color: black;
  border: solid black;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding-bottom: 10px;
}

.youtube {
  color: #FF0000;
  background-color: black;
  border: solid black;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0%;
  top: -15%;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.modal-content {
  background-color: black;
  margin: 15% auto; 
  padding: 15px;
  border: 1px solid whitesmoke;
  width: 80%; 
  height: 65%;
  overflow: auto;
}

.close {
  top: 0;
  position: sticky;
  color: red;
  float: left;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1c40f;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

*::-webkit-scrollbar {
  background: black;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

.Scontainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.Scontainer .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #006fcd;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.Scontainer .search:hover {
  cursor: pointer;
}
.Scontainer .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.Scontainer .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.Scontainer input {
  font-family: 'Evil Empire';
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #006fcd;
  color: white;
  text-shadow: 0 0 10px #006fcd;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #006fcd, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.Scontainer input:hover {
  cursor: pointer;
}
.Scontainer input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.Scontainer input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.Scontainer input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.Scontainer input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.Scontainer input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

img {
  color: red;
  font-family: 'Evil-Empire';
}

.card-img-top {
  object-fit: cover;
}

.logout {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:red;
  display: block;
  background-color: transparent;
  border: black;
}

.onoffswitch {
    position: relative; width: 113px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid black; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SEARCH";
    font-family: 'Evil-Empire';
    letter-spacing: 2px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #006FCD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    font-family: 'Evil-Empire';
    letter-spacing: 2px;
    font-size: 16px;
    padding-right: 10px;
    background-color: transparent; color: white;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 79px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
